Repository Eiat5522/sustainable-eco-friendly-digital-nomads-directory, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @frontend-team, @map-team, @image-team, @backend-team, @docs-team

chore: add TypeScript types for next and next-auth, update middleware for runtime compatibility
  app-next-directory/package.json
  app-next-directory/src/__tests__/__mocks__/next-auth-jwt.d.ts
  app-next-directory/src/__tests__/__mocks__/next-server.d.ts
  app-next-directory/src/__tests__/middleware.test.ts
  app-next-directory/src/middleware.ts
  pnpm-lock.yaml
  src/__tests__/middleware.test.ts
Owners: @project-maintainers

feat: add ESLint configuration, update PostCSS plugin, and enhance global styles with new placeholder utilities
  app-next-directory/.eslintrc.json
  app-next-directory/postcss.config.js
  app-next-directory/src/app/globals.css
  app-next-directory/src/app/imagegallery-placeholders.css
  app-next-directory/src/app/optimizedimage-placeholders.css
  app-next-directory/src/components/OptimizedImage.tsx
  app-next-directory/src/components/listings/ImageGallery.tsx
Owners: @project-maintainers, @frontend-team, @image-team

feat: implement useAnalytics tests and update analytics tracking for pathname handling
  app-next-directory/src/hooks/useAnalytics.test.ts
  app-next-directory/src/hooks/useAnalytics.ts
  app-next-directory/src/types/auth.ts
Owners: @project-maintainers

feat: add tests for useAuth, useClickOutside, and useSearch hooks
  app-next-directory/src/hooks/useAnalytics.test.ts
  app-next-directory/src/hooks/useAuth.test.ts
  app-next-directory/src/hooks/useClickOutside.test.ts
  app-next-directory/src/hooks/useSearch.test.ts
  package.json
  pnpm-lock.yaml
Owners: @project-maintainers

feat: enhance unit tests and add new test cases for geocode and button components
  app-next-directory/UNIT_TESTS_SUMMARY.md
  app-next-directory/__mocks__/@/utils/api-response.js
  app-next-directory/src/app/api/listings/route.ts
  app-next-directory/src/components/ui/__tests__/Button.test.tsx
  app-next-directory/src/lib/__tests__/geocode.test.ts
  app-next-directory/src/lib/auth.ts
  app-next-directory/src/lib/geocode.ts
  app-next-directory/tests/auth.spec.ts
  package.json
  pnpm-lock.yaml
Owners: @docs-team, @project-maintainers, @backend-team

feat: update API response handling and improve error management in listings route
  .vscode/launch.json
  app-next-directory/jest.config.js
  app-next-directory/src/__tests__/__mocks__/api-response.ts
  app-next-directory/src/app/api/listings/route.ts
Owners: @project-maintainers

feat: update Jest configuration to exclude additional test directories
  app-next-directory/jest.config.js
  app-next-directory/src/app/api/listings/route.ts
  jest.config.js
Owners: @project-maintainers

chore: Update documentation and project context
  README.md
  app-next-directory/README.md
  app-next-directory/UNIT_TESTS_SUMMARY.md
  docs/DEPLOYMENT_GUIDE.md
  docs/README.md
  docs/codebaseSummary.md
  memory-bank/activeContext.md
  memory-bank/productContext.md
  memory-bank/progress.md
  memory-bank/projectbrief.md
  memory-bank/systemPatterns.md
  memory-bank/techContext.md
  sanity/README.md
Owners: @docs-team, @project-maintainers

feat: enhance authentication middleware tests and add type coverage for auth types
  app-next-directory/src/__tests__/middleware-auth.test.ts
  app-next-directory/src/lib/__tests__/auth.test.ts
  app-next-directory/src/types/__tests__/auth.test.ts
  app-next-directory/src/types/auth-types.test.ts
  sanity-backup/tests/authentication/auth.spec.ts
Owners: @project-maintainers

feat: enhance auth middleware tests to cover edge cases for undefined and invalid user roles
  app-next-directory/src/__tests__/middleware-auth.test.ts
Owners: @project-maintainers

feat: add type validation for token in JWT and session callbacks
  app-next-directory/src/lib/__tests__/auth.test.ts
  app-next-directory/src/lib/auth.ts
Owners: @project-maintainers, @backend-team

feat: Enhance testing, add Babel config, and improve API error handling
  .vscode/settings.json
  app-next-directory/babel.config.js
  app-next-directory/jest.config.js
  app-next-directory/jest.setup.ts
  app-next-directory/scripts/test-db-connection.js
  app-next-directory/src/__tests__/carbon-awareness.test.ts
  app-next-directory/src/__tests__/db-helpers.test.ts
  app-next-directory/src/__tests__/dbConnect.test.ts
  app-next-directory/src/__tests__/mongodb.test.js
  app-next-directory/src/__tests__/rate-limit.test.ts
  app-next-directory/src/app/api/auth/register/route.test.ts
  app-next-directory/src/app/api/listings/route.ts
  app-next-directory/src/lib/__tests__/auth.test.ts
  app-next-directory/src/lib/__tests__/carbon-awareness.test.ts
  app-next-directory/src/lib/carbon-awareness.ts
  app-next-directory/src/lib/dbConnect.ts
  app-next-directory/src/lib/mongodb.js
  app-next-directory/src/utils/db-helpers.ts
  jest.config.js
  jest.config.js         # (already exists, review if needed)/jest.setup.ts          # (already exists, review if needed)
  sanity/.vscode/settings.json
  src/__tests__/hello.test.ts  # (add this file)
Owners: @project-maintainers, @backend-team

feat: add Jest environment setup and enhance db-helpers tests with improved error handling
  app-next-directory/jest.config.js
  app-next-directory/jest/setEnvVars.js
  app-next-directory/src/__tests__/db-helpers.test.ts
Owners: @project-maintainers

feat: update Jest configuration for jsdom environment and enhance test setups
  app-next-directory/jest.config.js
  app-next-directory/src/__tests__/dbConnect.test.ts
  app-next-directory/src/hooks/__tests__/useFilters.test.ts
  app-next-directory/src/hooks/useAnalytics.test.ts
  app-next-directory/src/lib/queries/index.ts
Owners: @project-maintainers

test: enhance useAuth tests for improved authentication flow and role validation
  app-next-directory/src/hooks/useAnalytics.test.ts
  app-next-directory/src/hooks/useAuth.test.ts
Owners: @project-maintainers

feat: update Jest configuration and enhance testing setup across multiple files
  .vscode/settings.json
  app-next-directory/babel.config.js
  app-next-directory/jest.config.js
  app-next-directory/src/hooks/useClickOutside.test.ts
  app-next-directory/src/hooks/useSearch.test.ts
  app-next-directory/tests/middleware-auth.test.ts
  jest.setup.ts
  sanity/.vscode/settings.json
  sustainable-eco-friendly-digital-nomads-directory.code-workspace
Owners: @project-maintainers

feat: enhance Jest configuration, improve dbConnect tests, and add useClickOutside and useSearch tests
  app-next-directory/jest.config.js
  app-next-directory/src/__tests__/dbConnect.test.ts
  app-next-directory/src/hooks/useClickOutside.test.tsx
  app-next-directory/src/hooks/useSearch.test.tsx
  app-next-directory/src/lib/dbConnect.ts
  app-next-directory/src/middleware.test.ts
  babel.config.js
  jest.config.js
  tsconfig.json
Owners: @project-maintainers, @backend-team

test: update useAnalytics tests to handle empty title and referrer values
  app-next-directory/src/__tests__/dbConnect.test.ts
  app-next-directory/src/hooks/useAnalytics.test.ts
Owners: @project-maintainers

test: ensure document.title and document.referrer are set in useAnalytics tests
  app-next-directory/src/hooks/useAnalytics.test.ts
  app-next-directory/src/tests/sanity-client.test.ts
Owners: @project-maintainers

feat: Add SSO onboarding functional specification document
  app-next-directory/package.json
  app-next-directory/src/components/ui/__tests__/Button.test.tsx
  app-next-directory/src/hooks/useAnalytics.test.ts
  app-next-directory/src/hooks/useAnalytics.ts
  package.json
  pnpm-lock.yaml
Owners: @project-maintainers

feat: Add SSO onboarding functional specification document
  .gitignore
  app-next-directory/jest.config.js
  app-next-directory/jest.setup.ts
  app-next-directory/package.json
  app-next-directory/src/app/admin/page.test.tsx
  app-next-directory/src/app/admin/page.tsx
  app-next-directory/src/hooks/useSearch.test.tsx
  app-next-directory/src/hooks/useSearch.ts
  app-next-directory/src/lib/dbConnect.ts
  app-next-directory/src/middleware.test.ts
  app-next-directory/src/utils/__tests__/auth-helpers.test.ts
  pnpm-lock.yaml
Owners: @project-maintainers, @backend-team

feat: add custom type declaration for lodash debounce
  app-next-directory/src/hooks/useSearch.test.tsx
  app-next-directory/src/hooks/useSearch.ts
  app-next-directory/src/types/lodash.d.ts
Owners: @project-maintainers

feat: integrate jest-fetch-mock for improved fetch mocking in tests
  app-next-directory/jest.setup.ts
  app-next-directory/package.json
  app-next-directory/src/hooks/useSearch.test.tsx
  app-next-directory/src/hooks/useSearch.ts
  app-next-directory/src/utils/__tests__/auth-helpers.test.ts
  pnpm-lock.yaml
Owners: @project-maintainers

refactor: simplify request body handling in useSearch tests
  app-next-directory/src/hooks/useSearch.test.tsx
  app-next-directory/src/hooks/useSearch.ts
Owners: @project-maintainers

fix: update image URL builder import and enhance listing data structure in components
  app-next-directory/src/components/listings/ListingCard.tsx
  app-next-directory/src/components/listings/ListingDetail.tsx
  app-next-directory/src/lib/sanity.js
  app-next-directory/src/tests/sanity-client.test.ts
Owners: @project-maintainers, @backend-team

feat: enhance map listing preparation and improve Sanity client integration
  app-next-directory/src/components/listings/ListingDetail.tsx
  app-next-directory/src/lib/__tests__/dbConnect.test.ts
  app-next-directory/src/lib/sanity/client.ts
  app-next-directory/src/lib/sanity/image.ts
Owners: @project-maintainers

feat: add React imports to components and enhance listing handling in ListingCard
  app-next-directory/jest.setup.ts
  app-next-directory/src/components/listings/ListingCard.tsx
  app-next-directory/src/components/listings/ListingDetail.tsx
  app-next-directory/src/components/map/MapContainer.tsx
  app-next-directory/src/components/map/StaticMapImage.tsx
Owners: @project-maintainers, @map-team

feat: mock Next.js Image component and update ListingCard image handling
  app-next-directory/jest.setup.ts
  app-next-directory/package.json
  app-next-directory/src/components/listings/ListingCard.tsx
  pnpm-lock.yaml
Owners: @project-maintainers

refactor: streamline mongoose mocking and improve test structure in dbConnect tests
  app-next-directory/src/lib/__tests__/dbConnect.test.ts
  app-next-directory/src/utils/__tests__/auth-helpers.test.ts
Owners: @project-maintainers

feat: update Sanity client integration and enhance test mocks for improved functionality
  app-next-directory/src/lib/sanity-http-client.ts
  app-next-directory/src/lib/sanity/client.ts
  app-next-directory/src/tests/sanity-client.test.ts
Owners: @backend-team, @project-maintainers

feat: add mongodb mocks for improved testing of auth helpers
  app-next-directory/src/utils/__tests__/auth-helpers.test.ts
Owners: @project-maintainers

feat: enhance image handling in ListingCard and add tests for image URL generation
  app-next-directory/jest.setup.ts
  app-next-directory/src/components/listings/ListingCard.tsx
  app-next-directory/src/lib/sanity/image.test.ts
  app-next-directory/src/lib/sanity/image.ts
Owners: @project-maintainers

feat: enhance ListingCard category handling and update Sanity types for compatibility
  app-next-directory/src/components/listings/ListingCard.tsx
  app-next-directory/src/types/listings.ts
  app-next-directory/src/types/sanity.ts
  pnpm-lock.yaml
  sanity/package.json
Owners: @project-maintainers

feat: improve MongoDB mocking in tests and enhance error handling in db-helpers
  app-next-directory/src/__tests__/db-helpers.test.ts
  app-next-directory/src/utils/__tests__/db-helpers.test.ts
  app-next-directory/src/utils/db-helpers.ts
Owners: @project-maintainers

feat: enhance highlightText function to handle null/undefined inputs and improve error handling in SanityHTTPClient
  .vscode/settings.json
  app-next-directory/src/__tests__/lib/sanity-http-client.test.ts
  app-next-directory/src/lib/highlight.test.tsx
  app-next-directory/src/lib/highlight.test.tsx.2025-07-07T18-20-24-768Z.bak
  app-next-directory/src/lib/highlight.tsx
  app-next-directory/src/lib/sanity-http-client.ts
Owners: @project-maintainers, @backend-team

feat: implement SanityHTTPClient with authentication and error handling
  app-next-directory/src/__tests__/lib/sanity-http-client.test.ts
  app-next-directory/src/lib/sanity-http-client.ts
Owners: @project-maintainers, @backend-team

feat: enhance createMany method in SanityHTTPClient with improved error handling and debug logging
  app-next-directory/src/__tests__/lib/sanity-http-client.test.ts
  app-next-directory/src/lib/sanity-http-client.ts
Owners: @project-maintainers, @backend-team

feat: update highlightText function to return null/undefined for null/undefined input and return array for no match
  app-next-directory/src/lib/highlight.test.tsx
  app-next-directory/src/lib/highlight.tsx
Owners: @backend-team

feat: Add Listings API route tests and implement ListingsPageContent component
  .gitignore
  app-next-directory/src/__tests__/api/listings/route.test.ts
  app-next-directory/src/app/listings/ListingsPageContent.tsx
  app-next-directory/src/components/listings/ListingCard.test.tsx
  app-next-directory/src/components/listings/ListingDetail.test.tsx
  app-next-directory/src/components/listings/ListingFilters.tsx
  app-next-directory/src/components/listings/ListingGrid.tsx
Owners: @project-maintainers

feat: Add '@types/lodash' dependency and update versions in pnpm-lock.yaml
  pnpm-lock.yaml
Owners: @project-maintainers

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these users will be requested for review when someone
# opens a pull request.
*       @project-maintainers

# App configuration files
app-next-directory/next.config.*    @project-maintainers
app-next-directory/tailwind.config.* @project-maintainers

# Core components
app-next-directory/src/components/* @frontend-team

# Map related files
app-next-directory/src/components/map/* @map-team

# Image optimization and assets
app-next-directory/src/components/listings/ImageGallery.tsx @image-team
app-next-directory/src/lib/getListingImages.js @image-team

# Data and API
app-next-directory/src/lib/* @backend-team
app-next-directory/src/data/* @backend-team

# Documentation
*.md    @docs-team @project-maintainers

# GitHub specific files
.github/* @project-maintainers
