Repository Eiat5522/sustainable-eco-friendly-digital-nomads-directory, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @frontend-team, @map-team, @image-team, @backend-team, @docs-team

feat: add initial Babel configuration file
  app-next-directory/babel.config.js.bak
Owners: @project-maintainers

feat: update Jest config for improved module resolution and remove deprecated globals; fix PostCSS plugin name; enhance image URL handling in FeaturedListings component
  app-next-directory/jest.config.js
  app-next-directory/postcss.config.js
  app-next-directory/src/app/globals.css
  app-next-directory/src/components/listings/FeaturedListings.tsx
Owners: @project-maintainers

feat: update Jest config to support TypeScript files with ts-jest
  app-next-directory/jest.config.js
  app-next-directory/jest.setup.ts
Owners: @project-maintainers

feat: add Babel configuration file for environment, React, and TypeScript presets
  app-next-directory/babel.config.js
  app-next-directory/jest.config.js
Owners: @project-maintainers

fix: update .gitignore and tsconfig.json for improved path handling and add jest-dom types
  .gitignore
  app-next-directory/tsconfig.json
Owners: @project-maintainers

fix: update useClickOutside hook to accept a ref of type RefObject<HTMLElement | null>
  app-next-directory/src/hooks/useClickOutside.test.tsx
  app-next-directory/src/hooks/useClickOutside.ts
Owners: @project-maintainers

fix: update useClickOutside hook to accept a ref of type RefObject<HTMLElement>; improve README formatting; update tsconfig.json and remove Babel config
  app-next-directory/README.md
  app-next-directory/babel.config.js
  app-next-directory/jest.config.js
  app-next-directory/src/hooks/useClickOutside.test.tsx
  app-next-directory/src/hooks/useClickOutside.ts
  app-next-directory/tsconfig.json
Owners: @docs-team, @project-maintainers

fix: update useClickOutside hook to accept a generic ref type for improved type safety
  app-next-directory/babel.config.js
  app-next-directory/src/hooks/useClickOutside.test.tsx
  app-next-directory/src/hooks/useClickOutside.ts
Owners: @project-maintainers

fix: update useClickOutside hook to accept a ref of type RefObject<HTMLElement | null>; improve SearchBar component accessibility
  app-next-directory/src/components/search/SearchBar.tsx
  app-next-directory/src/hooks/useClickOutside.ts
Owners: @project-maintainers

fix: update .gitignore for improved path handling and add jest-dom types
  .gitignore
  app-next-directory/UNIT_TESTS_SUMMARY.md
Owners: @project-maintainers, @docs-team

fix: update Jest command in settings and add dotenv dependency; create jsconfig archive
  .vscode/settings.json
  app-next-directory/_ARCHIVE_jsconfig.json
  app-next-directory/jest/setEnvVars.js
  package.json
  pnpm-lock.yaml
Owners: @project-maintainers

fix: update Jest coverage formatter in settings; refactor test cases to remove unnecessary type assertions
  .vscode/settings.json
  app-next-directory/src/middleware/__tests__/authCallbackHandler.test.ts
  app-next-directory/src/middleware/authCallbackHandler.ts
  app-next-directory/src/middleware/cache.ts
  app-next-directory/src/middleware/server-timing.ts
  app-next-directory/src/middleware/session.ts
  app-next-directory/tsconfig.json
  sanity/tsconfig.json
  tsconfig.json
Owners: @project-maintainers

fix: update tsconfig settings for improved type safety and module resolution
  app-next-directory/tsconfig.json
  sanity/tsconfig.json
Owners: @project-maintainers

fix: update workspace settings for improved Jest configuration and folder management
  .vscode/settings.json
  sustainable-eco-friendly-digital-nomads-directory.code-workspace
Owners: @project-maintainers

fix: comment out unused 'next' module code in API integration tests
  tests/api-integration.spec.ts
Owners: @project-maintainers

fix: downgrade nodemailer to version 6.10.1 and add supertest as a new dependency
  app-next-directory/package.json
  app-next-directory/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Owners: @project-maintainers

feat: enhance middleware functionality and update TypeScript configuration
  app-next-directory/src/middleware/cache.ts
  app-next-directory/src/middleware/server-timing.ts
  app-next-directory/src/middleware/session.ts
  app-next-directory/tsconfig.json
  tests/api-integration.spec.ts
  tsconfig.json
Owners: @project-maintainers

feat: add initial API integration test setup for /api/hello endpoint
  test/api-integration.test.ts
Owners: @project-maintainers

feat: add API integration test for /api/hello endpoint
  app-next-directory/src/__tests__/api-integration.test.ts
Owners: @project-maintainers

fix: update jest configurations including babel and swc updates.
  .vscode/mcp.json
  app-next-directory/babel.config.js
  app-next-directory/jest.config.js
  app-next-directory/package.json
  app-next-directory/playwright-report/index.html
  app-next-directory/src/__tests__/mongodb.test.js
  app-next-directory/src/components/_ARCHIVE_HeroSection.tsx
  app-next-directory/src/components/home/HeroSection.tsx
  app-next-directory/src/components/home/_ARCHIVE_Hero.tsx
  app-next-directory/tsconfig.json
  babel.config.js
  package.json
  pnpm-lock.yaml
Owners: @project-maintainers, @frontend-team

feat: add peer dependency rules for eslint in pnpm configuration
  app-next-directory/package.json
  app-next-directory/playwright-report/index.html
  app-next-directory/src/components/listings/ListingCard.test.tsx
Owners: @project-maintainers

refactor: clean up imports and update mock data in ListingCard tests
  app-next-directory/src/__tests__/mongodb.test.js
  app-next-directory/src/components/listings/ListingCard.test.tsx
Owners: @project-maintainers

refactor: simplify ListingCard component by removing SanityListing type and updating mock data
  app-next-directory/src/components/listings/ListingCard.test.tsx
  app-next-directory/src/components/listings/ListingCard.tsx
Owners: @project-maintainers

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these users will be requested for review when someone
# opens a pull request.
*       @project-maintainers

# App configuration files
app-next-directory/next.config.*    @project-maintainers
app-next-directory/tailwind.config.* @project-maintainers

# Core components
app-next-directory/src/components/* @frontend-team

# Map related files
app-next-directory/src/components/map/* @map-team

# Image optimization and assets
app-next-directory/src/components/listings/ImageGallery.tsx @image-team
app-next-directory/src/lib/getListingImages.js @image-team

# Data and API
app-next-directory/src/lib/* @backend-team
app-next-directory/src/data/* @backend-team

# Documentation
*.md    @docs-team @project-maintainers

# GitHub specific files
.github/* @project-maintainers
