Repository Eiat5522/sustainable-eco-friendly-digital-nomads-directory, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @frontend-team, @map-team, @image-team, @backend-team, @docs-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these users will be requested for review when someone
# opens a pull request.
*       @project-maintainers

# App configuration files
app-next-directory/next.config.*    @project-maintainers
app-next-directory/tailwind.config.* @project-maintainers

# Core components
app-next-directory/src/components/* @frontend-team

# Map related files
app-next-directory/src/components/map/* @map-team

# Image optimization and assets
app-next-directory/src/components/listings/ImageGallery.tsx @image-team
app-next-directory/src/lib/getListingImages.js @image-team

# Data and API
app-next-directory/src/lib/* @backend-team
app-next-directory/src/data/* @backend-team

# Documentation
*.md    @docs-team @project-maintainers

# GitHub specific files
.github/* @project-maintainers

feat: enhance Jest setup with cross-fetch polyfills and improve middleware tests; remove outdated Codex documentation and setup script
  .gitignore
  Agent.md
  app-next-directory/jest.setup.ts
  app-next-directory/src/__tests__/middleware-auth.test.ts
  docs/shared/codex-agent-guide.md
  docs/shared/setup.sh
  sanity_image_staging/images/bangkok-tree-house-7.jpg
Owners: @project-maintainers, @docs-team

feat: update .gitignore to refine rules and add new rules.md file
  .gitignore
  .roo/rules/rules.md
Owners: @project-maintainers, @docs-team

feat: refine .gitignore rules for Cline & Roo and roomodes directories
  .gitignore
Owners: @project-maintainers

feat: update .gitignore rules for Cline & Roo; enhance Jest setup with additional mocks and transform ignore patterns; add Sanity CLI proxy script
  .gitignore
  Agent.md
  app-next-directory/jest.config.js
  app-next-directory/jest.setup.ts
  app-next-directory/src/__tests__/middleware.test.ts
  babel.config.js
  run-sanity-proxy.ps1
Owners: @project-maintainers, @docs-team

Refactor middleware tests and improve error handling
  .clinerules/clinerules.md
  .vscode/mcp.json
  app-next-directory/__mocks__/@auth/mongodb-adapter.js
  app-next-directory/__mocks__/@sanity/client.js
  app-next-directory/__mocks__/mongodb.js
  app-next-directory/jest-middleware-output.txt
  app-next-directory/jest.config.js
  app-next-directory/jest.setup.ts
  app-next-directory/package.json
  app-next-directory/src/__tests__/middleware-auth.test.ts
  app-next-directory/src/__tests__/middleware.test.ts
  app-next-directory/src/app/api/auth/register/route.test.ts
  app-next-directory/src/app/api/auth/register/route.ts
  app-next-directory/src/lib/__tests__/__snapshots__/adapters.test.ts.snap
  app-next-directory/src/lib/adapters.ts
  app-next-directory/src/lib/carbon-awareness.ts
  app-next-directory/src/lib/geocode.ts
  app-next-directory/src/lib/sanity-http-client.ts
  app-next-directory/src/middleware.ts
  app-next-directory/src/tests/sanity-client.test.ts
  app-next-directory/src/types/listings.ts
  docs/shared/codex_setup_script_bash.sh
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/__tests__/middleware.test.ts
Owners: @docs-team, @project-maintainers, @backend-team

feat: add manual Jest mock for landmark coordinates and update geocode module import path
  .clinerules/clinerules.md
  app-next-directory/__mocks__/landmark-coordinates.ts
  app-next-directory/src/lib/__tests__/geocode.test.ts
  app-next-directory/src/lib/geocode.ts
Owners: @docs-team, @project-maintainers, @backend-team

feat: update findLandmarkCoordinates to accept undefined and null address inputs
  app-next-directory/src/lib/__tests__/geocode.test.ts
  app-next-directory/src/lib/geocode.ts
Owners: @project-maintainers, @backend-team

feat: update geocode module to improve landmark coordinate retrieval and simplify address handling
  .vscode/launch.json
  app-next-directory/src/lib/geocode.ts
  memory-bank/activeContext.md
Owners: @project-maintainers, @backend-team, @docs-team

feat: enhance geocoding utility with comprehensive tests and improve documentation
  .github/copilot-instructions.md
  .gitignore
  app-next-directory/UNIT_TESTS_SUMMARY.md
  app-next-directory/tests/TESTING.md
  docs/app-next-directory/TESTING.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/systemPatterns.md
  memory-bank/techContext.md
Owners: @project-maintainers, @docs-team

feat: implement environment variable loader and test database connector with validation
  .github/chatmodes/jest-engineer.chatmode.md
  .gitignore
  app-next-directory/jest.config.js
  app-next-directory/scripts/ci/importValidator.ts
  app-next-directory/src/__tests__/middleware-auth.test.ts
  app-next-directory/src/app/api/auth/register/route.test.ts
  app-next-directory/src/lib/envLoader.ts
  app-next-directory/src/lib/mongodb/testDbConnector.ts
  app-next-directory/src/middleware.ts
  app-next-directory/src/middleware/__tests__/authCallbackHandler.test.ts
  app-next-directory/src/middleware/authCallbackHandler.ts
  app-next-directory/src/utils/__tests__/api-response.test.ts
  app-next-directory/src/utils/api-response.ts
  app-next-directory/src/utils/ecoRatingCalculator.ts
  app-next-directory/tests/helpers/mockManager.ts
  app-next-directory/tests/helpers/typedMocks.ts
  docs/shared/codex_setup_script_bash.sh
  jest.setup.ts
Owners: @docs-team, @project-maintainers, @backend-team

feat: update authentication middleware to redirect to /auth/login and enhance API route protection
  app-next-directory/src/lib/__tests__/carbon-awareness.test.ts
  app-next-directory/src/lib/__tests__/listings.test.ts
  app-next-directory/src/middleware.ts
Owners: @project-maintainers

chore: update .gitignore and .vscode/settings.json for improved project configuration
  .gitignore
  .vscode/settings.json
Owners: @project-maintainers

chore: update .gitignore to refine ignored files and enhance project organization
  .copilotignore
  .gitignore
  .vscode/mcp.json
  .vscode/settings.json
Owners: @project-maintainers

Add mock for Sanity client and create middleware test file
  .gitignore
  .vscode/settings.json
  WebGUI.md
  app-next-directory/jest.setup.ts
  app-next-directory/package.json
  app-next-directory/src/__tests__/middleware-auth.test.ts
  app-next-directory/src/__tests__/middleware.test.ts
  app-next-directory/src/app/api/auth/register/route.test.ts
  app-next-directory/src/app/api/auth/register/route.ts
  app-next-directory/src/lib/__tests__/adapters.test.ts
  app-next-directory/src/lib/__tests__/carbon-awareness.test.ts
  app-next-directory/src/lib/__tests__/dbConnect.test.ts
  app-next-directory/src/lib/__tests__/listings.test.ts
  app-next-directory/src/lib/carbon-awareness.ts
  app-next-directory/src/middleware.test.ts
  app-next-directory/src/middleware.ts
  app-next-directory/src/scripts/analyze-content.ts
  app-next-directory/src/types/auth.ts
  app-next-directory/src/utils/__tests__/api-response.test.ts
  docs/shared/codex_setup_script_bash.sh
  jest.setup.ts
  jest.setup.ts                         # Edit
  package.json
  pnpm-lock.yaml
  src/__mocks__/@sanity
  src/middleware.test.ts                # Edit
Owners: @project-maintainers, @docs-team, @backend-team

feat: enhance location handling in listings and update related tests
  .github/copilot-instructions.md
  app-next-directory/src/lib/__tests__/__snapshots__/adapters.test.ts.snap
  app-next-directory/src/lib/__tests__/adapters.test.ts
  app-next-directory/src/lib/__tests__/dbConnect.test.ts
  app-next-directory/src/lib/__tests__/listings.test.ts
  app-next-directory/src/lib/adapters.ts
  app-next-directory/src/types/listing.ts
  app-next-directory/src/utils/__tests__/api-response.test.ts
Owners: @project-maintainers, @backend-team

fix: update location handling in jsonToSanityListing to ensure coordinates are correctly assigned
  app-next-directory/src/lib/__tests__/adapters.test.ts
  app-next-directory/src/lib/adapters.ts
Owners: @project-maintainers, @backend-team

feat: add global mongoose type declaration and enhance dbConnect tests
  .github/copilot-instructions.md
  app-next-directory/src/global.d.ts
  app-next-directory/src/lib/__tests__/dbConnect.test.ts
  app-next-directory/src/lib/dbConnect.ts
  app-next-directory/src/types/global.d.ts
Owners: @project-maintainers, @backend-team

fix: update middleware test to use createMiddleware and ensure proper mock implementations
  app-next-directory/src/middleware.test.ts
Owners: @project-maintainers

test: add placeholder Jest test to satisfy requirement in test-runner.ts
  app-next-directory/src/__tests__/test-runner.ts
Owners: @project-maintainers

feat: add Jest mock for NextResponse to ensure consistent testing behavior
  app-next-directory/__mocks__/next/server.js
  app-next-directory/src/utils/__tests__/api-response.test.ts
Owners: @project-maintainers

feat: refactor Sanity client mocks and update Jest configuration for improved testing
  app-next-directory/__mocks__/@sanity/client.js
  app-next-directory/__mocks__/@sanity/client.ts
  app-next-directory/__mocks__/jose.js
  app-next-directory/jest.config.js
  app-next-directory/src/lib/sanity/client.ts
  app-next-directory/src/tests/sanity-client.test.ts
Owners: @project-maintainers

feat: add mocks for next-auth and preact-render-to-string, update Jest config for improved testing
  app-next-directory/__mocks__/next-auth.js
  app-next-directory/__mocks__/preact-render-to-string.js
  app-next-directory/jest.config.js
  app-next-directory/src/utils/__tests__/auth-helpers.test.ts
  app-next-directory/src/utils/auth-helpers.ts
  babel.config.js
Owners: @project-maintainers

refactor: improve error handling in auth helpers and update test mocks for consistency
  app-next-directory/src/utils/__tests__/auth-helpers.test.ts
  app-next-directory/src/utils/auth-helpers.ts
Owners: @project-maintainers

fix: update testMatch patterns in Jest config for improved test discovery
  app-next-directory/jest.config.js
Owners: @project-maintainers

test: add missing assertions for security headers in GET /api/auth/test
  app-next-directory/src/app/api/auth/register/route.test.ts
Owners: @project-maintainers

feat: implement eco rating calculation and add comprehensive tests for accuracy
  app-next-directory/src/utils/__tests__/db-helpers.test.ts
  app-next-directory/src/utils/__tests__/ecoRatingCalculator.test.ts
  app-next-directory/src/utils/__tests__/rate-limit.test.ts
  app-next-directory/src/utils/ecoRatingCalculator.ts
  app-next-directory/src/utils/rate-limit.ts
Owners: @project-maintainers

refactor: update comments for clarity in eco rating calculation tests
  app-next-directory/src/utils/__tests__/ecoRatingCalculator.test.ts
Owners: @project-maintainers

Refactor code structure and remove redundant sections for improved readability and maintainability
  .github/copilot-instructions.md
  .gitignore
  .vscode/mcp.json
  Agents.md
  app-next-directory/jsconfig.json
  app-next-directory/package.json
  app-next-directory/playwright-report/index.html
  app-next-directory/postcss.config.js
  app-next-directory/src/__tests__/middleware.test.ts
  app-next-directory/src/app/admin/listings/page.tsx
  app-next-directory/src/app/admin/settings/page.tsx
  app-next-directory/src/app/admin/users/page.tsx
  app-next-directory/src/app/api/search/route.ts
  app-next-directory/src/app/listings/page.tsx
  app-next-directory/src/app/login/page.tsx
  app-next-directory/src/app/register/carousel.tsx
  app-next-directory/src/app/register/page.tsx
  app-next-directory/src/components/cities/CityCarousel.tsx
  app-next-directory/src/components/layout/ThemeToggle.tsx
  app-next-directory/src/components/listings/filtering/FilterCombinations.tsx
  app-next-directory/src/components/listings/filtering/FilterCondition.tsx
  app-next-directory/src/components/listings/filtering/FilterConditionEditor.tsx
  app-next-directory/src/components/ui/DigitalNomadSearchFilter.tsx
  app-next-directory/src/components/ui/sustainable-nomad-testimonials.tsx
  app-next-directory/src/lib/__tests__/auth.test.ts
  app-next-directory/src/lib/__tests__/carbon-awareness.test.ts
  app-next-directory/src/lib/__tests__/dbConnect.test.ts
  app-next-directory/src/lib/carbon-awareness.ts
  app-next-directory/src/lib/dbConnect.ts
  app-next-directory/src/utils/__tests__/db-helpers.test.ts
  app-next-directory/src/utils/__tests__/ecoRatingCalculator.test.ts
  app-next-directory/src/utils/ecoRatingCalculator.ts
  app-next-directory/tests/api/listings.test.ts
  app-next-directory/tsconfig.json
  jest.config.js
  package-lock.json
  pnpm-lock.yaml
Owners: @project-maintainers, @docs-team, @backend-team

fix: update HTML language attribute and improve styles in Playwright report
  app-next-directory/playwright-report/index.html
  app-next-directory/tsconfig.json
Owners: @project-maintainers

feat: extend next-auth types to include user role and JWT properties
  app-next-directory/jest.config.js
  app-next-directory/src/__tests__/middleware.test.ts
  app-next-directory/src/app/admin/listings/page.tsx
  app-next-directory/src/components/ui/__tests__/Button.test.tsx
  app-next-directory/src/lib/__tests__/auth.test.ts
  app-next-directory/src/lib/dbConnect.ts
  app-next-directory/src/models/User.ts
  app-next-directory/src/types/next-auth.d.ts
  app-next-directory/tests/accessibility/a11y.test.ts
  app-next-directory/tests/e2e/listing-management.test.ts
  app-next-directory/tests/performance/load-stress.test.ts
  app-next-directory/tests/ux/search.test.ts
  package.json
  pnpm-lock.yaml
  src/__tests__/middleware.test.ts
  tests/api-integration.spec.ts
Owners: @project-maintainers, @backend-team

feat: enhance type definitions for next-auth and improve middleware tests
  app-next-directory/src/__tests__/middleware.test.ts
Owners: @project-maintainers

feat: update listings data with sample entries and modify listings filtering logic
  .gitignore
  .vscode/mcp.json
  app-next-directory/jest.config.js
  app-next-directory/package.json
  app-next-directory/src/__tests__/ContactForm.test.ts
  app-next-directory/src/__tests__/middleware.test.ts
  app-next-directory/src/data/listings.json
  app-next-directory/src/lib/__tests__/auth.test.ts
  app-next-directory/src/lib/__tests__/listings.test.ts
  app-next-directory/src/lib/listings.ts
  app-next-directory/src/utils/__tests__/auth-helpers.test.ts
  app-next-directory/tests/unit/ContactForm.test.ts
  app-next-directory/tests/utils/test-utils.ts
  jest.config.js
  src/__tests__/middleware.test.ts
  tsconfig.json
Owners: @project-maintainers, @backend-team

fix: update handleSearchChange to use React.ChangeEvent and remove unused test file
  app-next-directory/src/components/ui/DigitalNomadSearchFilter.tsx
  app-next-directory/tests/unit/ContactForm.test.ts
Owners: @project-maintainers

chore: update package.json and clean up unused files
  app-next-directory/package.json
  app-next-directory/src/app/admin/settings/page.tsx
  app-next-directory/src/components/ui/DigitalNomadSearchFilter.tsx
  app-next-directory/src/lib/__tests__/listings.test.ts
Owners: @project-maintainers

chore: clean up and organize settings and filter component files
  .vscode/settings.json
  app-next-directory/src/app/admin/settings/page.tsx
  app-next-directory/src/components/ui/DigitalNomadSearchFilter.tsx
  app-next-directory/src/types/react.d.ts
Owners: @project-maintainers

Refactor code structure for improved readability and maintainability
  package-lock.json
  pnpm-lock.yaml
Owners: @project-maintainers

fix: update middleware test to use string literal for redirect URL and ensure listings filtering logic handles category validation
  app-next-directory/src/__tests__/middleware.test.ts
  app-next-directory/src/data/listings.json
  app-next-directory/src/lib/__tests__/listings.test.ts
  app-next-directory/src/lib/listings.ts
Owners: @project-maintainers, @backend-team

test: enhance listings tests with descriptive titles and additional cases
  app-next-directory/src/__tests__/middleware.test.ts
  app-next-directory/src/lib/__tests__/listings.test.ts
Owners: @project-maintainers

chore: update test files for listings and middleware to ensure consistency and maintainability
  app-next-directory/src/__tests__/middleware.test.ts
  app-next-directory/src/lib/__tests__/listings.test.ts
Owners: @project-maintainers

test: enhance middleware tests with additional cases for authentication and authorization
  app-next-directory/src/__tests__/middleware.test.ts
  app-next-directory/src/app/admin/page.test.tsx
  app-next-directory/src/middleware.ts
  app-next-directory/src/utils/__tests__/db-helpers.test.ts
  app-next-directory/src/utils/__tests__/ecoRatingCalculator.test.ts
  src/__tests__/middleware.test.ts
Owners: @project-maintainers
