Repository Eiat5522/sustainable-eco-friendly-digital-nomads-directory, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @frontend-team, @map-team, @image-team, @backend-team, @docs-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these users will be requested for review when someone
# opens a pull request.
*       @project-maintainers

# App configuration files
app-scaffold/next.config.*    @project-maintainers
app-scaffold/tailwind.config.* @project-maintainers

# Core components
app-scaffold/src/components/* @frontend-team

# Map related files
app-scaffold/src/components/map/* @map-team

# Image optimization and assets
app-scaffold/src/components/listings/ImageGallery.tsx @image-team
app-scaffold/src/lib/getListingImages.js @image-team

# Data and API
app-scaffold/src/lib/* @backend-team
app-scaffold/src/data/* @backend-team

# Documentation
*.md    @docs-team @project-maintainers

# GitHub specific files
.github/* @project-maintainers

Complete Sanity CMS integration with custom schemas
  sanity/.sanity/runtime/app.js
  sanity/.sanity/runtime/index.html
  sanity/migrations/create-test-data.js
  sanity/migrations/import-listings.js
  sanity/package-lock.json
  sanity/package.json
  sanity/sanity.config.js
  sanity/schemas/accommodationDetails.js
  sanity/schemas/blogPost.js
  sanity/schemas/cafeDetails.js
  sanity/schemas/city.js
  sanity/schemas/comment.js
  sanity/schemas/coworkingDetails.js
  sanity/schemas/ecoTag.js
  sanity/schemas/event.js
  sanity/schemas/index.js
  sanity/schemas/listing.js
  sanity/schemas/nomadFeature.js
  sanity/schemas/review.js
  sanity/schemas/user.js
  sanity/structure.js
Owners: @project-maintainers

feat: Enhance Sanity schemas for coworking, restaurant, and activities details
  .windsurfrules
  app-scaffold/src/app/api/cities/route.ts
  app-scaffold/src/app/api/eco-tags/route.ts
  app-scaffold/src/app/api/preview/route.ts
  app-scaffold/src/app/api/search/route.ts
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/techContext.md
  sanity/.env.development
  sanity/.npmrc
  sanity/config/preview.js
  sanity/migrations/create-test-data.js
  sanity/package-lock.json
  sanity/package.json
  sanity/sanity.config.js
  sanity/schemas/accommodationDetails.js
  sanity/schemas/activitiesDetails.js
  sanity/schemas/cafeDetails.js
  sanity/schemas/city.js
  sanity/schemas/coworkingDetails.js
  sanity/schemas/ecoTag.js
  sanity/schemas/index.js
  sanity/schemas/listing.js
  sanity/schemas/nomadFeature.js
  sanity/schemas/restaurantDetails.js
  sanity/schemas/review.js
  sanity/schemas/shared/fields.js
  sanity/scripts/patch-prismjs.js
  sanity/scripts/setup-sanity.js
  sanity/structure.js
Owners: @project-maintainers, @docs-team

docs: update documentation for Playwright testing implementation (2025-05-14)
  cline_docs/codebaseSummary.md
  cline_docs/techStack.md
  memory-bank/techContext.md
Owners: @docs-team, @project-maintainers

docs: update documentation for next phase - map integration enhancement
  cline_docs/currentTask.md
  cline_docs/projectRoadmap.md
  memory-bank/activeContext.md
  memory-bank/progress.md
Owners: @docs-team, @project-maintainers

``` feat: Add map integration and listing filters with test infrastructure
  .github/copilot-instructions.md
  .windsurfrules
  README.md
  app-scaffold/README.md
  app-scaffold/package.json
  app-scaffold/playwright.config.ts
  app-scaffold/src/app/api/auth/[...nextauth]/route.ts
  app-scaffold/src/app/api/legacy-listings/route.ts
  app-scaffold/src/app/api/listings/route.js
  app-scaffold/src/app/globals.css
  app-scaffold/src/app/listings/ListingsPageWrapper.tsx
  app-scaffold/src/app/listings/page.tsx
  app-scaffold/src/components/listings/FilterSidebar.tsx
  app-scaffold/src/components/listings/ListingFilters.tsx
  app-scaffold/src/components/map/MapComponent.tsx
  app-scaffold/src/components/map/MapContainer.tsx
  app-scaffold/src/lib/sanity/queries.js
  app-scaffold/src/lib/utils.ts
  app-scaffold/src/styles/map.css
  app-scaffold/src/types/leaflet-markercluster.d.ts
  app-scaffold/tests/API-MOCKING.md
  app-scaffold/tests/README.md
  app-scaffold/tests/TESTING.md
  app-scaffold/tests/WRITING_GUIDE.md
  app-scaffold/tests/map-integration.spec.ts
  app-scaffold/tests/setup/mock-data.ts
  app-scaffold/tests/utils/README.md
  app-scaffold/tests/utils/filter-test-utils.ts
  app-scaffold/tests/utils/map-test-utils.ts
  app-scaffold/tests/utils/test-assertions.ts
  app-scaffold/tests/utils/test-fixtures.ts
  app-scaffold/tests/utils/test-setup.ts
  sanity/package-lock.json
  sanity/package.json
  sanity/schemas/listing.js
Owners: @project-maintainers, @docs-team, @map-team, @backend-team

feat(auth): implement authentication components and hooks
  app-scaffold/src/app/admin/layout.tsx
  app-scaffold/src/app/admin/page.tsx
  app-scaffold/src/app/api/auth/[...nextauth]/route.ts
  app-scaffold/src/app/api/auth/register/route.ts
  app-scaffold/src/app/api/auth/update-profile/route.ts
  app-scaffold/src/app/auth/error/page.tsx
  app-scaffold/src/app/auth/signin/page.tsx
  app-scaffold/src/app/auth/signup/page.tsx
  app-scaffold/src/app/auth/unauthorized/page.tsx
  app-scaffold/src/app/layout.tsx
  app-scaffold/src/app/profile/layout.tsx
  app-scaffold/src/app/profile/page.tsx
  app-scaffold/src/components/auth/AuthProvider.tsx
  app-scaffold/src/components/auth/AuthStatus.tsx
  app-scaffold/src/components/auth/ProfileForm.tsx
  app-scaffold/src/components/auth/SignInForm.tsx
  app-scaffold/src/components/auth/SignUpForm.tsx
  app-scaffold/src/components/auth/WithAuth.tsx
  app-scaffold/src/hooks/useAuth.ts
  app-scaffold/src/lib/auth/userService.ts
  app-scaffold/src/lib/auth/withAuth.ts
  app-scaffold/src/lib/mongodb.ts
  app-scaffold/src/middleware.ts
  app-scaffold/src/types/auth.ts
  app-scaffold/src/types/environment.d.ts
  cline_docs/currentTask.md
  memory-bank/activeContext.md
Owners: @project-maintainers, @backend-team, @docs-team

feat: Add adapters for JSON to Sanity listing conversion
  app-scaffold/next.config.mjs
  app-scaffold/public/images/sustainable_nomads.png
  app-scaffold/public/preview.html
  app-scaffold/src/FRONTEND_DESIGN_GUIDE.md
  app-scaffold/src/app/api/events/route.ts
  app-scaffold/src/app/api/listings/route.ts
  app-scaffold/src/app/api/reviews/route.ts
  app-scaffold/src/app/page.tsx
  app-scaffold/src/app/preview/layout.tsx
  app-scaffold/src/app/preview/page.tsx
  app-scaffold/src/components/CityCarousel.tsx
  app-scaffold/src/components/FilterSystem.tsx
  app-scaffold/src/components/HeroSection.tsx
  app-scaffold/src/components/MapView.tsx
  app-scaffold/src/components/OptimizedImage.tsx
  app-scaffold/src/lib/adapters.ts
  app-scaffold/src/lib/sanity/client.ts
  app-scaffold/src/types/leaflet-markercluster.d.ts
  app-scaffold/src/types/listing.ts
  cline_docs/sanity_integration_status.md
  memory-bank/api_implementation.md
  memory-bank/progress.md
  memory-bank/security_updates.md
  sanity/package.json
  sanity/playwright.config.ts
  sanity/sanity.config.js
  sanity/tests/authentication/auth.setup.ts
  sanity/tests/authentication/auth.spec.ts
  sanity/tests/authentication/roles.spec.ts
  sanity/tests/utils/test-data.ts
Owners: @project-maintainers, @docs-team, @frontend-team, @backend-team

feat(docs): Update codebase summary and current task status
  app-scaffold/src/components/HeroSection.tsx
  app-scaffold/src/components/listings/filtering/ListingFilters.tsx
  app-scaffold/src/components/ui/badge.tsx
  app-scaffold/src/components/ui/checkbox.tsx
  app-scaffold/src/components/ui/slider.tsx
  app-scaffold/src/components/ui/switch.tsx
  app-scaffold/src/lib/queries.ts
  app-scaffold/src/types/query-types.ts
  app-scaffold/src/types/sanity.ts
  app-scaffold/tests/groq.spec.ts
  app-scaffold/tests/utils/query-test-utils.ts
  app-scaffold/tsconfig.json
  cline_docs/codebaseSummary.md
  sanity/SCHEMA_RELATIONSHIPS.md
  sanity/jest.config.js
  sanity/package.json
  sanity/schemas/accommodationDetails.js
  sanity/schemas/activitiesDetails.js
  sanity/schemas/cafeDetails.js
  sanity/schemas/coworkingDetails.js
  sanity/schemas/index.js
  sanity/schemas/listing.js
  sanity/schemas/restaurantDetails.js
  sanity/schemas/richText.js
  sanity/schemas/shared/amenities.js
  sanity/schemas/shared/ecoInitiatives.js
  sanity/tests/richText.test.js
Owners: @frontend-team, @project-maintainers, @backend-team, @docs-team

Add image download script and update listings with enhanced eco-friendly details
  app-scaffold/public/images/cities/bangkok.jpg
  app-scaffold/public/images/cities/chiang-mai.jpg
  app-scaffold/src/app/api/listings/route.ts
  app-scaffold/src/components/cities/CityCarousel.tsx
  app-scaffold/src/components/layout/Layout.tsx
  app-scaffold/src/components/layout/MainNav.tsx
  app-scaffold/src/components/ui/sustainability-score.tsx
  app-scaffold/tsconfig.json
  cline_docs/currentTask.md
  listing_population_full.csv
  listing_population_sample.csv
  listing_population_template.csv
  sanity/sanity.config.js
  sanity/schemas/city.js
  sanity/schemas/ecoTag.js
  sanity/schemas/listing.js
  sanity/schemas/review.js
  sanity/structure.js
  scripts/download-images.ps1
  temp_listings.json
Owners: @project-maintainers, @docs-team

Add merged_listings.json with detailed coworking space entries including eco-friendly features and pricing plans
  deduplication_output/deduplicate_and_merge.py
  deduplication_output/listing_population_template.csv
  merged_listings.json
Owners: @project-maintainers

feat: add Breadcrumbs component for navigation
  app-scaffold/package-lock.json
  app-scaffold/package.json
  app-scaffold/src/app/api/revalidate-all/route.ts
  app-scaffold/src/app/api/revalidate/route.ts
  app-scaffold/src/app/category/[category]/page.tsx
  app-scaffold/src/app/layout.tsx
  app-scaffold/src/app/listings/[id]/page.tsx
  app-scaffold/src/components/experiments/ListingCtaExperiment.tsx
  app-scaffold/src/components/moderation/Guidelines.tsx
  app-scaffold/src/components/moderation/ModerationDashboard.tsx
  app-scaffold/src/components/moderation/ReportDialog.tsx
  app-scaffold/src/components/navigation/Breadcrumbs.tsx
  app-scaffold/src/components/navigation/MainNav.tsx
  app-scaffold/src/components/navigation/RelatedListings.tsx
  app-scaffold/src/components/search/SearchDialog.tsx
  app-scaffold/src/lib/analytics/analytics.ts
  app-scaffold/src/lib/analytics/config.ts
  app-scaffold/src/lib/analytics/experiments.ts
  app-scaffold/src/lib/analytics/types.ts
  app-scaffold/src/lib/analytics/useExperiment.ts
  app-scaffold/src/middleware.ts
  app-scaffold/src/middleware/cache.ts
  app-scaffold/src/types/moderation.ts
  app-scaffold/src/types/moderator.ts
  app-scaffold/tests/PREVIEW_TESTING.md
  app-scaffold/tests/preview-performance.spec.ts
  cline_docs/currentTask.md
Owners: @project-maintainers, @docs-team

Implement deduplication and merging of listings with new script
  deduplication_output/deduplicate_and_merge.py
  deduplication_output/listing_population_template.csv
  listing_population_full.csv
  listing_population_sample.csv
  listing_population_template.csv
  listings/archived-processed/2025-05-19-20250519_204034-Archived-Processed-Listings/Listings_20250519_204034.json
  listings/archived-processed/2025-05-19-20250519_204034-Archived-Processed-Listings/Temp_Listings_20250519_204034.json
  listings/archived-processed/2025-05-19-Archived-Processed-Listings/Listings.json
  listings/archived-processed/2025-05-19-Archived-Processed-Listings/Temp_Listings.json
  listings/deduplicate_and_merge.py
  listings/listings.json
  listings/production/Listing_Population_Template.csv
  listings/temp_listings.json
  merged_listings.json
Owners: @project-maintainers

feat: enhance listings processing with image handling and CSV integration
  app-scaffold/next.config.mjs
  app-scaffold/package-lock.json
  app-scaffold/package.json
  app-scaffold/src/app/preview/page.tsx
  app-scaffold/src/data/listings/Listing_Population_Template.csv
  cline_docs/listings_workflow.md
  listings/deduplicate_and_merge.py
  scripts/process-listing-images.py
  scripts/sync-listings-data.ps1
Owners: @project-maintainers, @docs-team

Refactor: Add .env and .env.example to .gitignore
  .gitignore
Owners: @project-maintainers

Add scripts for migrating listings to Sanity and preparing local images
  cline_docs/sanity_implementation_plan.md
  cline_docs/sanity_integration_status.md
  listings/archived-processed/2025-05-22-20250522_192506-Archived-Processed-Listings/Listings_20250522_192506.json
  listings/archived-processed/2025-05-22-20250522_192506-Archived-Processed-Listings/Temp_Listings_20250522_192506.json
  listings/archived-production/Listing_Population_Template_2025-05-22_20250522_192506.csv
  listings/create_image_curation_csv.py
  listings/image_curation_helper.csv
  listings/merged_listings.json
  listings/production/Listing_Population_Template.csv
  package-lock.json
  package.json
  sanity_image_staging/images/listings/generate-uuid-for-justco-one-city-centre/justco-1.jpg
  sanity_image_staging/images/listings/generate-uuid-for-justco-one-city-centre/justco-2.jpg
  sanity_image_staging/images/listings/generate-uuid-for-pier-lab/pierlab-1.jpg
  sanity_image_staging/images/listings/generate-uuid-for-pier-lab/pierlab-2.jpg
  sanity_image_staging/images/listings/generate-uuid-for-shinei-office/shinei-office-1.jpg
  sanity_image_staging/images/listings/generate-uuid-for-shinei-office/shinei-office-2.jpg
  scripts/download-images.ps1
  scripts/migrate_listings_to_sanity.py
  scripts/prepare_local_images_for_sanity.py
Owners: @docs-team, @project-maintainers

Refactor listing and address schemas: remove coordinates field and add country field with validation
  app-scaffold/src/app/api/cities/route.ts
  app-scaffold/src/app/page.tsx
  app-scaffold/src/components/home/CitiesCarousel.tsx
  app-scaffold/src/components/listings/CityCarousel.tsx
  app-scaffold/src/lib/sanity/queries.js
  app-scaffold/src/lib/sanity/queries.ts
  app-scaffold/src/types/listing.ts
  app-scaffold/src/types/listings.ts
  app-scaffold/src/types/sanity.ts
  memory-bank/image_migration_notes.md
  playwright-report/index.html
  sanity-backup/schemas/listing.js
  sanity-backup/schemas/shared/address.js
  sanity/schemas/address.js
  sanity/schemas/listing.js
  scripts/migrate_listings_to_sanity.py
  test-results/.last-run.json
Owners: @project-maintainers, @docs-team

Refactor: Update CityCarousel and Sanity client for improved image handling and data structure
  app-scaffold/next.config.ts
  app-scaffold/src/components/listings/CityCarousel.tsx
  app-scaffold/src/lib/sanity/client.js
  app-scaffold/src/lib/sanity/queries.js
Owners: @project-maintainers

feat: Enhance ListingCard component with improved image handling and loading states
  .clinerules/clinerules.md
  app-scaffold/package-lock.json
  app-scaffold/package.json
  app-scaffold/src/app/city/[slug]/page.tsx
  app-scaffold/src/app/page.tsx
  app-scaffold/src/components/ScrollToTopButton.tsx
  app-scaffold/src/components/home/CitiesCarousel.tsx
  app-scaffold/src/components/listings/CityCarousel.tsx
  app-scaffold/src/components/listings/ListingCard.tsx
  app-scaffold/src/lib/sanity/queries.js
  app-scaffold/src/lib/sanity/queries.ts
  app-scaffold/tailwind.config.js
  cline_docs/sanity_implementation_plan.md
  cline_docs/sanity_integration_status.md
  listings/__pycache__/sanity_image_migration.cpython-313.pyc
  listings/__pycache__/test_sanity_migration.cpython-313-pytest-8.3.5.pyc
  listings/performance_test.py
  listings/sanity_image_migration.py
  listings/test_sanity_migration.py
  memory-bank/activeContext.md
  memory-bank/sanity_integration.md
Owners: @docs-team, @project-maintainers, @frontend-team

Add Memory Bank migration instructions and update security logs
  .github/instructions/memory-bank.instructions.md
Owners: @docs-team, @project-maintainers
