Repository Eiat5522/sustainable-eco-friendly-digital-nomads-directory, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @frontend-team, @map-team, @image-team, @backend-team, @docs-team

Fix: Featured listings not displaying on Home page (#6)
  app-next-directory/src/app/page.tsx
  app-next-directory/src/components/listings/ListingCard.tsx
  app-next-directory/src/lib/sanity/queries.ts
  app-next-directory/src/types/sanity.ts
Owners: @project-maintainers

chore: update dependencies and add legacy fields for compatibility
  .github/copilot-instructions.md
  .gitignore
  app-next-directory/.gitignore
  app-next-directory/package.json
  app-next-directory/public/images/hero-bg.jpg
  app-next-directory/public/images/logo/leaf_and_laptop_logo.png
  app-next-directory/public/images/logo/sustainable_nomads.png
  app-next-directory/src/app/api/auth/[...nextauth]/route.ts
  app-next-directory/src/app/api/listings/route.ts
  app-next-directory/src/app/page.tsx
  app-next-directory/src/components/common/Logo.tsx
  app-next-directory/src/components/listings/ListingGrid.tsx
  app-next-directory/src/lib/queries.ts
  app-next-directory/src/models/User.ts
  app-next-directory/src/models/UserAnalytics.ts
  app-next-directory/src/models/UserPreferences.ts
  app-next-directory/src/types/sanity.ts
  app-next-directory/test-mongoose-indexes.js
  package-lock.json
  package.json
  sanity/schemas/listing.js
Owners: @project-maintainers, @backend-team

Update app-next-directory/src/lib/sanity/queries.ts
  app-next-directory/src/lib/sanity/queries.ts
Owners: @project-maintainers

Refix: Ensure correct state management in Home page for featured list… (#7)
  app-next-directory/src/app/page.tsx
  app-next-directory/src/lib/sanity/queries.ts
Owners: @project-maintainers

Refactor: Update FeaturedListings component to display a maximum of 4 listings and improve image handling in ListingCard
  app-next-directory/public/images/listings/generate-uuid-for-plantiful/plantiful-2.jpg (1).crdownload
  app-next-directory/public/images/listings/generate-uuid-for-plantiful/plantiful-2.jpg.crdownload
  app-next-directory/public/images/listings/plantiful-1.jpg
  app-next-directory/src/app/listings/[slug]/page.tsx
  app-next-directory/src/components/home/FeaturedListings.tsx
  app-next-directory/src/components/listings/ListingCard.tsx
  app-next-directory/src/lib/sanity/queries.ts
Owners: @project-maintainers

Refactor: Consolidate Next.js configuration into a single TypeScript file and update dependencies
  app-next-directory/next.config.mjs
  app-next-directory/next.config.ts
  app-next-directory/package.json
  app-next-directory/src/app/api/blog/[slug]/route.ts
  app-next-directory/src/app/api/city/[slug]/route.ts
  app-next-directory/src/lib/sanity/queries.ts
  docs/next-config-merge-plan.md
  package-lock.json
  package.json
Owners: @project-maintainers, @docs-team

Refactor: Update API calls in HomePage to fetch featured listings from the server and streamline city data fetching
  app-next-directory/src/app/api/listings/[slug]/route.ts
  app-next-directory/src/app/page.tsx
Owners: @project-maintainers

Refactor: Add tools usage guidelines and npm workspace setup documentation
  .github/instructions/self-improving-copilot.instructions.md
  .github/instructions/tools-usage-guidelines.instructions.md
  .npmrc
  WORKSPACE_SETUP.md
Owners: @docs-team, @project-maintainers

Update dev port, configure image domain, and enhance types
  app-next-directory/next.config.ts
  app-next-directory/playwright-report/index.html
  app-next-directory/playwright.config.ts
  app-next-directory/src/app/admin/bulk-operations/page.tsx
  app-next-directory/src/app/sitemap.ts
  app-next-directory/src/components/listings/ListingDetail.tsx
  app-next-directory/src/lib/sanity/queries.ts
Owners: @project-maintainers

Fix: Remove duplicate layout.jsx causing 404 errors (#8)
  app-next-directory/package-lock.json
  app-next-directory/package.json
  app-next-directory/src/app/layout.jsx
  package-lock.json
Owners: @project-maintainers

Refactor: Update .gitignore, .npmrc, and configuration files; add API for featured listings and new assets
  .gitignore
  .npmrc
  .vscode/memory.jsonl
  app-next-directory/eslint.config.mjs.disabled
  app-next-directory/next.config.ts
  app-next-directory/playwright.config.ts
  app-next-directory/public/favicon.ico
  app-next-directory/public/images/listings/generate-uuid-for-plantiful/plantiful-3.jpg
  app-next-directory/src/app/api/listings/featured/route.ts
  app-next-directory/src/app/icon.svg
  app-next-directory/src/app/listings/[slug]/page.tsx
  package.json
Owners: @project-maintainers

Refactor: Update .gitignore, enhance listing metadata, and improve related listings fetching logic
  .gitignore
  app-next-directory/debug-city-images.js
  app-next-directory/quick-city-test.js
  app-next-directory/src/app/listings/[slug]/page.tsx
  app-next-directory/src/components/listings/RelatedListings.tsx
  app-next-directory/src/lib/sanity/queries.ts
  app-next-directory/test-city-data.js
  app-next-directory/test-data-inspection.js
  app-next-directory/test-featured-listings.js
  scripts/migrate-listing-slugs.js
  test-sanity-slugs.js
Owners: @project-maintainers

Add requirements.txt for Sanity CMS migration and backend integration dependencies
  .gitignore
  app-next-directory/src/app/globals.css
  app-next-directory/src/app/listings/[slug]/page.tsx
  app-next-directory/src/components/listings/CityCarousel.tsx
  app-next-directory/src/components/listings/ImageGallery.tsx
  package-lock.json
  requirements.txt
  sanity/package.json
  sanity/tsconfig.json
Owners: @project-maintainers, @image-team

chore: add repomix instruction file, update package.json dependencies and scripts, and fix tsconfig.json formatting
  .github/instructions/tools-usage-guidelines.instructions.md
  .gitignore
  .secretlintrc.json
  package-lock.json
  repomix-instruction.md
  sanity/package.json
  sanity/tsconfig.json
Owners: @docs-team, @project-maintainers

fix: update LICENSE for clarity, enhance image handling in ListingDetail, and adjust next.config for remote image patterns
  LICENSE
  app-next-directory/next.config.ts
  app-next-directory/src/app/listings/[slug]/page.tsx
  app-next-directory/src/components/listings/ListingDetail.tsx
Owners: @project-maintainers

Fix: Resolve "stdout maxBuffer exceeded" during state retrieval
  .clinerules/clinerules.md
  .clinerules/mcp-server-config-guidelines.md
  .vscode/mcp.json
  .vscode/settings.json
  app-next-directory/next.config.js
  app-next-directory/next.config.ts
  app-next-directory/package.json
  app-next-directory/postcss.config.js
  app-next-directory/sanity.config.ts
  app-next-directory/src/app/api/cities/route.ts
  app-next-directory/src/app/api/featured-listings/route.ts
  app-next-directory/src/app/api/sanity-test/route.ts
  app-next-directory/src/app/globals.css
  app-next-directory/src/app/layout.tsx
  app-next-directory/src/app/listings/[slug]/page.tsx
  app-next-directory/src/app/page.tsx
  app-next-directory/src/app/test/page.tsx
  app-next-directory/src/components/cities/CitiesSection.tsx
  app-next-directory/src/components/home/CTASection.tsx
  app-next-directory/src/components/home/FeaturedDestinations.tsx
  app-next-directory/src/components/home/HeroSection.tsx
  app-next-directory/src/components/home/InfographicSection.tsx
  app-next-directory/src/components/layout/Header.tsx
  app-next-directory/src/components/layout/SessionWrapper.tsx
  app-next-directory/src/components/listings/FeaturedListings.tsx
  app-next-directory/src/components/listings/ListingDetail.tsx
  app-next-directory/src/components/ui/Button.tsx
  app-next-directory/src/components/ui/Input.tsx
  app-next-directory/src/components/ui/badge.tsx
  app-next-directory/src/components/ui/card.tsx
  app-next-directory/src/components/ui/checkbox.tsx
  app-next-directory/src/components/ui/collapsible.tsx
  app-next-directory/src/components/ui/switch.tsx
  app-next-directory/src/lib/sanity/client.ts
  app-next-directory/src/lib/sanity/image.ts
  app-next-directory/src/lib/utils.ts
  app-next-directory/tailwind.config.js
  app-next-directory/tsconfig.json
  package-lock.json
  sanity/package.json
Owners: @docs-team, @project-maintainers, @backend-team

feat: Implement Listing and City Detail Pages with Image Gallery
  app-next-directory/src/app/api/city/[slug]/route.ts
  app-next-directory/src/app/city/[slug]/page.tsx
  app-next-directory/src/app/listings/[slug]/page.tsx
  app-next-directory/src/components/listings/ImageGallery.tsx
  app-next-directory/src/lib/sanity/queries.ts
  docs/API_DOCUMENTATION.md
  docs/DEVELOPMENT_GUIDE.md
  docs/codebaseSummary.md
  memory-bank/activeContext.md
  memory-bank/api_implementation.md
  memory-bank/progress.md
Owners: @project-maintainers, @image-team, @docs-team

feat: Enhance Listing and City Detail Pages
  app-next-directory/src/app/api/city/[slug]/route.ts
  app-next-directory/src/app/city/[slug]/page.tsx
  app-next-directory/src/app/listings/[slug]/page.tsx
  app-next-directory/src/components/listings/ImageGallery.tsx
  app-next-directory/src/lib/sanity/queries.ts
  docs/API_DOCUMENTATION.md
  docs/DEVELOPMENT_GUIDE.md
  docs/codebaseSummary.md
  memory-bank/activeContext.md
  memory-bank/api_implementation.md
  memory-bank/progress.md
Owners: @project-maintainers, @image-team, @docs-team

Feat: Featured listings fixed, Header component, update dependencies, and define UserRole type
  app-next-directory/package.json
  app-next-directory/src/app/page.tsx
  app-next-directory/src/components/Header.tsx
  package-lock.json
  types/auth.ts
Owners: @project-maintainers, @frontend-team

Refactor: Update SignInPage to handle searchParams as a Promise, modify Header component to remove login button, and update Logo and Header titles for consistency
  app-next-directory/public/images/logo/leaf_and_laptop_logo.png
  app-next-directory/src/app/auth/signin/page.tsx
  app-next-directory/src/app/layout.tsx
  app-next-directory/src/components/Header.tsx
  app-next-directory/src/components/auth/SignUpForm.tsx
  app-next-directory/src/components/common/Logo.tsx
  app-next-directory/src/components/layout/Header.tsx
Owners: @project-maintainers, @frontend-team

fix: improve type checks and update styles in ListingCard component
  .clinerules/clinesysteminstructions.md
  .clinerules/next-js-15-guidelines-.md
  .clinerules/self-improving-cline.md
  .clinerules/tailwind-css-v4-guidelineds.md
  app-next-directory/package.json
  app-next-directory/pages/test.tsx
  app-next-directory/src/app/api/reviews/[reviewId]/vote/route.ts
  app-next-directory/src/app/auth/error/page.tsx
  app-next-directory/src/app/listings/[slug]/page.tsx
  app-next-directory/src/components/listings/ListingCard.tsx
  package-lock.json
Owners: @docs-team, @project-maintainers

feat: implement getListingData function for fetching listings from Sanity; update API documentation and active context with recent changes
  app-next-directory/src/app/listings/[slug]/page.tsx
  app-next-directory/src/lib/sanity/data.ts
  docs/API_DOCUMENTATION.md
  memory-bank/activeContext.md
  memory-bank/api_implementation.md
Owners: @project-maintainers, @docs-team

chore: update dependencies in package.json
  app-next-directory/package.json
  app-next-directory/src/app/listings/[slug]/page.tsx
  app-next-directory/src/components/listings/ListingGrid.tsx
  app-next-directory/src/components/ui/badge.tsx
  app-next-directory/src/types/sanity.ts
  app-next-directory/tsconfig.json
  package-lock.json
  sanity/package.json
Owners: @project-maintainers

feat: update queries to filter listings by published status; ensure only approved listings are fetched in search and related functions
  app-next-directory/src/lib/queries.ts
  app-next-directory/src/lib/sanity/queries.ts
  app-next-directory/src/lib/search.ts
Owners: @backend-team, @project-maintainers

feat: add comments API with POST and GET endpoints; implement comment submission and fetching in blog post and blog pages
  app-next-directory/package.json
  app-next-directory/src/app/api/comments/route.ts
  app-next-directory/src/app/blog/[slug]/page.tsx
  app-next-directory/src/app/blog/page.tsx
  app-next-directory/src/app/layout.tsx
  app-next-directory/tsconfig.json
  package-lock.json
Owners: @project-maintainers

feat: optimize image loading in blog post and blog pages; add priority and sizes attributes for better performance
  app-next-directory/src/app/blog/[slug]/page.tsx
  app-next-directory/src/app/blog/page.tsx
Owners: @project-maintainers

chore: add @sanity/cli as a dev dependency
  .clinerules/clinerules.md
  .vscode/mcp.json
  WebGUI.md
  app-next-directory/src/app/listings/[slug]/page.tsx
  app-next-directory/src/app/search/page.tsx
  app-next-directory/src/components/layout/Footer.tsx
  app-next-directory/src/components/listings/ListingDetail.tsx
  app-next-directory/src/components/ui/card.tsx
  app-next-directory/src/lib/sanity/data.ts
  app-next-directory/tsconfig.json
  package-lock.json
  sanity/package.json
Owners: @docs-team, @project-maintainers

chore: update dependencies and add location field to listing schema
  .clinerules/clinerules.md
  .vscode/mcp.json
  app-next-directory/components.json
  app-next-directory/package.json
  app-next-directory/src/app/admin/bulk-operations/page.tsx
  app-next-directory/src/app/api/listings/[slug]/route.ts
  app-next-directory/src/app/categories/page.tsx
  app-next-directory/src/app/city/_city_bak/page.tsx
  app-next-directory/src/app/globals.css
  app-next-directory/src/app/listings/page.tsx
  app-next-directory/src/app/page.tsx
  app-next-directory/src/app/sitemap.ts
  app-next-directory/src/app/test-images/page.tsx
  app-next-directory/src/app/test/layout.tsx
  app-next-directory/src/app/test/page.tsx
  app-next-directory/src/app/test/search/page.tsx
  app-next-directory/src/components/LeafletMap.tsx
  app-next-directory/src/components/home/CTASection.tsx
  app-next-directory/src/components/layout/Footer.tsx
  app-next-directory/src/components/listings/ListingDetail.tsx
  app-next-directory/src/components/map/MapComponent.tsx
  app-next-directory/src/components/map/StaticMapImage.tsx
  app-next-directory/src/components/ui/Button.tsx
  app-next-directory/src/components/ui/avatar.tsx
  app-next-directory/src/components/ui/card.tsx
  app-next-directory/src/components/ui/separator.tsx
  app-next-directory/src/components/ui/sustainable-nomad-testimonials.tsx
  app-next-directory/src/lib/sanity/data.ts
  app-next-directory/src/lib/sanity/queries.ts
  app-next-directory/src/lib/utils.ts
  app-next-directory/tailwind.config.js
  package-lock.json
  sanity/.sanity/runtime/app.js
  sanity/package-lock.json
  sanity/package.json
  sanity/schemas/listing.js
Owners: @docs-team, @project-maintainers, @frontend-team, @map-team, @backend-team

feat: enhance photo gallery with responsive layouts and improved lightbox functionality
  app-next-directory/src/components/listings/ListingDetail.tsx
Owners: @project-maintainers

Add test scripts to package.json for app-next-directory
  .gitignore
  app-next-directory/JEST_SETUP_GUIDE.md
  app-next-directory/check-cities.js
  app-next-directory/jest.config.js
  app-next-directory/jest.config.simple.js
  app-next-directory/jest.setup.ts
  app-next-directory/package.json
  app-next-directory/public/test-cities.html
  app-next-directory/src/__tests__/example.test.ts
  app-next-directory/src/app/api/cities/[slug]/route.ts
  app-next-directory/src/app/api/cities/route.ts
  app-next-directory/src/app/city/[slug]/CityPageClient.tsx
  app-next-directory/src/app/city/[slug]/page.tsx
  app-next-directory/src/app/search/page.tsx
  app-next-directory/src/app/theme-provider.tsx
  app-next-directory/src/components/layout/MainNav.tsx
  app-next-directory/src/components/listings/ListingDetail.tsx
  app-next-directory/src/components/theme-provider.tsx
  app-next-directory/src/components/ui/world-map-demo.tsx
  app-next-directory/src/components/ui/world-map.tsx
  app-next-directory/src/lib/__tests__/api.test.ts
  app-next-directory/src/utils/__tests__/helpers.test.ts
  package-lock.json
  package.json
Owners: @project-maintainers, @docs-team, @frontend-team

feat: Home page navigation enhancement
  .github/instructions/tools-usage-guidelines.instructions.md
  .gitignore
  WORKSPACE_SETUP.md
  WebGUI.md
  app-next-directory/JEST_SETUP_GUIDE.md
  app-next-directory/UNIT_TESTS_SUMMARY.md
  app-next-directory/src/__tests__/middleware.test.ts
  app-next-directory/src/__tests__/test-runner.ts
  app-next-directory/src/components/home/CTASection.tsx
  app-next-directory/src/components/layout/MainNav.tsx
  app-next-directory/src/components/ui/__tests__/Button.test.tsx
  app-next-directory/src/hooks/__tests__/useFilters.test.ts
  app-next-directory/src/lib/__tests__/api.test.ts
  app-next-directory/src/lib/__tests__/utils.test.ts
  app-next-directory/src/utils/__tests__/api-response.test.ts
  app-next-directory/src/utils/__tests__/auth-helpers.test.ts
  repomix-instruction.md
Owners: @docs-team, @project-maintainers

feat: add carbon awareness module with user region and carbon intensity methods
  .github/copilot-instructions.md
  .github/instructions/tools-usage-guidelines.instructions.md
  .gitignore
  .vscode/launch.json
  .vscode/mcp.json
  WebGUI.md
  app-next-directory/package.json
  app-next-directory/playwright-report/index.html
  jest.config.js
  jest.setup.ts
  package-lock.json
  sanity/package.json
  src/lib/carbon-awareness.ts
  tests/api-integration.spec.ts
  tsconfig.json
Owners: @project-maintainers, @docs-team

feat: Add Digital Nomad Search Filter component and demo page
  app-next-directory/package-lock.json
  app-next-directory/package.json
  app-next-directory/src/app/search-demo/page.tsx
  app-next-directory/src/components/ui/DigitalNomadSearchFilter.tsx
  package-lock.json
  sanity/package.json
Owners: @project-maintainers

Update user registration API and improve search functionality
  .github/copilot-instructions.md
  .github/instructions/self-improving-copilot.instructions.md
  .github/instructions/tools-usage-guidelines.instructions.md
  .gitignore
  app-next-directory/package-lock.json
  app-next-directory/package.json
  app-next-directory/src/app/api/auth/register/route.test.ts
  app-next-directory/src/app/search-demo/page.tsx
  app-next-directory/src/app/search/page.tsx
  app-next-directory/src/components/ui/DigitalNomadSearchFilter.tsx
  app-next-directory/src/lib/dbConnect.ts
  app-next-directory/src/lib/mongodb.ts
  package-lock.json
Owners: @project-maintainers, @docs-team, @backend-team

feat: Refactor Digital Nomad Search Filter component
  .clinerules/clinerules.md
  .gitignore
  .vscode/settings.json
  app-next-directory/jest.setup.ts
  app-next-directory/src/app/api/auth/register/route.test.ts
  app-next-directory/src/components/ui/DigitalNomadSearchFilter.tsx
Owners: @docs-team, @project-maintainers

chore: add pnpm workspace configuration with package definitions and ignored built dependencies
  .clinerules/clinerules.md
  .gitignore
  .vscode/launch.json
  app-next-directory/package.json
  app-next-directory/src/app/api/auth/register/route.test.ts
  app-next-directory/src/app/api/auth/register/route.ts
  app-next-directory/src/app/api/cities/route.ts
  app-next-directory/src/app/api/featured-listings/route.ts
  app-next-directory/src/app/api/search/route.ts
  app-next-directory/src/app/search/page.new.tsx
  app-next-directory/src/app/search/page.tsx
  app-next-directory/src/components/listings/FilterSidebar.tsx
  app-next-directory/src/components/ui/DigitalNomadSearchFilter.tsx
  jest.config.js
  jest.setup.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Owners: @docs-team, @project-maintainers

refactor: simplify fetchResults and handler functions in SearchResultsComponent
  app-next-directory/src/app/search/page.new.tsx
  app-next-directory/src/app/search/page.tsx
Owners: @project-maintainers

feat: enhance memory management and user registration tests; update TypeScript configurations
  .clinerules/clinerules.md
  .gitignore
  .vscode/mcp.json
  .vscode/memory.jsonl
  app-next-directory/package.json
  app-next-directory/src/app/api/auth/register/route.test.ts
  package.json
  pnpm-lock.yaml
  sanity/tsconfig.json
  tsconfig.json
Owners: @docs-team, @project-maintainers

feat: add global mocks for Request and NextResponse in registration tests
  app-next-directory/src/app/api/auth/register/route.test.ts
Owners: @project-maintainers

chore: update dependencies and devDependencies in package.json
  .github/copilot-instructions.md
  .vscode/mcp.json
  .vscode/settings.json
  app-next-directory/jest.config.js
  app-next-directory/package.json
  app-next-directory/src/__tests__/middleware-auth.test.ts
  app-next-directory/src/middleware.ts
  app-next-directory/tests/middleware-auth.test.ts
  docs/shared/Agent.md
  docs/shared/codex-agent-guide.md
  docs/shared/setup.sh
  package.json
  pnpm-lock.yaml
  sanity/package.json
Owners: @project-maintainers, @docs-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these users will be requested for review when someone
# opens a pull request.
*       @project-maintainers

# App configuration files
app-next-directory/next.config.*    @project-maintainers
app-next-directory/tailwind.config.* @project-maintainers

# Core components
app-next-directory/src/components/* @frontend-team

# Map related files
app-next-directory/src/components/map/* @map-team

# Image optimization and assets
app-next-directory/src/components/listings/ImageGallery.tsx @image-team
app-next-directory/src/lib/getListingImages.js @image-team

# Data and API
app-next-directory/src/lib/* @backend-team
app-next-directory/src/data/* @backend-team

# Documentation
*.md    @docs-team @project-maintainers

# GitHub specific files
.github/* @project-maintainers
